h3{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
.second_blog{
    background-color: rgb(203, 235, 154);
    /* display: none; */
    /* visibility: hidden; */
    border: 20px solid green;
    margin: 40px;
    box-shadow: 10px 10px 60px greenyellow;
}
.blog{
    background-color: rgb(238, 186, 177);
    margin: 40px;
    border: 20px solid tomato;
    box-shadow: 10px 10px 60px tomato;
}
.labor{
    border: 2px solid red;
    /* margin: 1px; */
    padding: 2px;
    /* width: 1px; */
    /* height: 2px;  */
    /* display: block; */
    display: inline-block;
}
.header{
        /* color: rgb(242, 244, 245); */
    text-align: center;
    height: 200px;
    background-color: burlywood;
    /* background-image: url('spiderman.png'); */
    /* background-position: 1%; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 200px; */
    /* background-image: url(../IMG_0678.jpg); */
    background-image: url(IMG_0266.JPG);
    /* background-image: url(../styles/go/IMG_0535.JPG); */
}
.dol{
    border: 4px solid red;
    display: inline-block;
    /* height: 60px; */
    padding: 2px;
}